%h1.text-3xl.mb-5.text-primary.font-bold
  Summary

%table.table
  %thead
    %tr
      %th Year
      %th Disbursements
      %th Disbursed to merchants
      %th Commission fees
      %th Amount of monthly fees
      %th Monthly fees
      %th

  %tbody
    - @summary.each do |summary|
      %tr
        %td= summary.year
        %td= summary.disbursements_count
        %td= summary.amount.format
        %td= summary.commission_fee.format
        %td= summary.monthly_fees_count
        %td= Money.from_cents(summary.monthly_fee_in_cents).format
        %td
          = link_to "View disbursements", disbursements_path(year: summary.year), class: "btn btn-sm"
          = link_to "View monthly fees", monthly_fees_path(year: summary.year), class: "btn btn-sm btn-primary"